.navbar {
    background-color: var(--section-dark-background);
    border-bottom: 1px solid var(--primary-color);
    .nav-link {
        font-weight: 700;
        font-size: 1em;
        color: var(--text-color-invert);
        transition: .4s;
        &:hover, &.active {
            transition: all 0.3s;
            color: var(--secondary-color);
        }
    }
}