:root {
    --primary-color: #b5179e;
    --primary-color-hover: #79186a;
    --secondary-color: #6aaffd;
    --main-color: #4361ee;
    --text-color: #2B2B2B;
    --text-color-invert: #FFFFFF;

    --gradient-color-start: var(--secondary-color);
    --gradient-color-end: var(--primary-color);

    --font-family: 'Poppins', sans-serif;
    --font-weight: 400;

    --section-dark-background: #0a0101;
    --section-light-background: #F9F9F9;
    --section-color-background: var(--primary-color);

    --card-bg: rgba(10,0,0,0.9);
    --card-font-color: #FFFFFF;
}

[data-theme="secondary"] {
    --primary-color: #F8D157;
    --primary-color-hover: #ab744e;
    --secondary-color: #04B4BA;
    --main-color: #ddc271;

    --gradient-color-start: var(--primary-color);
    --gradient-color-end: #E33E35;
}

body {
    background: transparent;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    letter-spacing: -0.5px;
    line-height: 1.5;
    margin: 0 auto;
}

.bg-ob-primary {
    background-color: var(--primary-color);
}

.bg-ob-secondary {
    background-color: var(--secondary-color);
}

::-moz-selection {
    color: var(--text-color-invert);
    background-color: var(--primary-color);
}
  
::selection {
    color: var(--text-color-invert);
    background-color: var(--primary-color);
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    
    &.invert {
        color: var(--text-color-invert);
        &:hover{
            color: var(--secondary-color);
        }
    }
    &:hover {
        color: var(--primary-color-hover);
    }
}

h1 {
    font-size: 6em;
    line-height: 0.9em;
    letter-spacing: -0.06em;
    font-weight: 700;
}

h2 {
    font-size: 3.5em;
    line-height: 0.9em;
    letter-spacing: -0.06em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    line-height: 0.9em;
    letter-spacing: -0.06em;
    font-weight: 700;
}

img {
    width: 100%;
}

.ob-text-primary {
    color: var(--primary-color);
}

.ob-text-secondary {
    color: var(--secondary-color);
}

.ob-gradient-background {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--gradient-color-start ) 36%, var(--gradient-color-end ) 63%);
}

.w-100 {
    font-weight: 100;
}
.w-200 {
    font-weight: 200;
}
.w-300 {
    font-weight: 300;
}
.w-700 {
    font-weight: 700;
}
.w-900 {
    font-weight: 900;
}

.card-box {
    //border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    background-color: white;
    -webkit-box-shadow: 0px 13px 27px -18px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 13px 27px -18px rgba(0,0,0,0.20);
    box-shadow: 0px 13px 27px -18px rgba(0, 0, 0, 0.20);
}
.project-card {
    transition: all .2s;
    &:hover{
        -webkit-box-shadow: 0px 26px 27px -18px rgba(0,0,0,0.20);
        -moz-box-shadow: 0px 26px 27px -18px rgba(0,0,0,0.20);
        box-shadow: 0px 26px 27px -18px rgba(0, 0, 0, 0.20);
        h3 {
            transition: all .2s;
            color: var(--secondary-color)
        }
    }
}
.project-links {
    display: flex;
    justify-content: space-around;
    min-width: 10em;
}

.skills-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.light-section {
    background: radial-gradient(circle, rgb(245, 245, 245) 50%, rgb(211, 211, 211) 100%);
}
.dark-section {
    background: radial-gradient(circle, rgb(3, 20, 40) 0%, var(--section-dark-background) 100%);
}

.badge {
    font-size: 0.9em;
    text-transform: uppercase;

    // TO TEST
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}

.project-img {
    width: 100%;
    margin-bottom: 1em;
}

.about-wrapper {
    display: flex;
    height: 100vh;
    .about-pic, .about-info {
        width: 50%;
    }
    .about-pic-wrapper {
        height: 100%;
        color: var(--text-color-invert);
        text-align: center;
        .about-pic-box {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }
    
}

.about-more-things {
    background-color: #fff;
}
.hobbies {
    .hobby {
        img {
            height: 20em;
            object-fit: cover;
            object-position: center center;
        }
    }
}
.main-info {
    display: flex;
    justify-content: space-between;
    .profile-info {
        width: calc(70% - 2em);
    }
    img { 
        width: calc(30% - 2em);
        border-radius: 1em;
        object-fit: cover;
        object-position: center center;
        -webkit-box-shadow: 0px 26px 27px -18px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 26px 27px -18px rgba(0,0,0,0.30);
        box-shadow: 0px 26px 27px -18px rgba(0, 0, 0, 0.30);
    }
}